<!DOCTYPE html>
<link href="/css/game.css" rel="stylesheet" type="text/css">
<html>

<head>
  <title>Game <%=gameId%>
  </title>
  <script src="/scripts/chat.js" defer></script>
  <script src="/scripts/games.js" defer></script>

</head>

<body>
  <main>
    <p>Game Room <%=gameId%>
    </p>
    <input type="hidden" name="game-socket-id" id="game-socket-id" value="<%= gameSocketId %>" />
    <input type="hidden" name="user-socket-id" id="user-socket-id" value="<%= userSocketId %>" />
    <input type="hidden" name="game-id" id="game-id" value="<%= gameId %>" />

    <form method="post" action="/game/<%=gameId%>/start" id="start-form">
      <input type="submit" value="start" />
    </form>

    <div id="game-board">
      <div id="game">
        <p>Oppponent Cards</p>
        <div id="opponents">
          <div class="opponent">
            <p>Usernamehere</p>
            <p>5 cards</p>
          </div>
          <div class="opponent">
            <p>Usernamehere</p>
            <p>5 cards</p>
          </div>
          <div class="opponent">
            <p>Usernamehere</p>
            <p>5 cards</p>
          </div>
        </div>
        <div id="current-card">
          <div class="card">
            <p>Red 1</p>
          </div>
        </div>
        <p>Your Cards:</p>
        <div id="player-cards">
          <div class="card">
            <p>Red 1</p>
          </div>
          <div class="card">
            <p>Blue 1</p>
          </div>
          <div class="card">
            <p>Green 1</p>
          </div>
        </div>
      </div>
      <div id="message-log">
        <p>Game Log</p>
      </div>
    </div>

    <%- include("partials/chat", { roomId: gameId }); %>
      <a href="/lobby">Back to Lobby</a>
  </main>

</body>

<template id="card-template">
  <div class="card">
    <p></p>
  </div>
</template>

<template id="opponent-template">
  <div class="opponent">
    <p></p>
    <p></p>
  </div>
</template>

</html>