<!DOCTYPE html>
<html>

<head>
  <title>Game <%=id%>
  </title>
  <script src="/scripts/chat.js" defer></script>
</head>

<body>
  <main>
    <p>This is the page for game <%=id%>
    </p><br>
    <p>
      <%= user.id %>:<%= user.email %>
    </p><br>
    <%- include("partials/chat", { roomId: id }); %>
      <a href="/lobby">Back to Lobby</a>
  </main>

</body>

</html>