<!DOCTYPE html>
<link href="/css/game.css" rel="stylesheet" type="text/css">
<html>

<head>
  <title>Game <%=id%>
  </title>
  <script src="/scripts/chat.js" defer></script>
  <script src="/scripts/games.js" defer></script>

</head>

<body>
  <main>
    <p>Game Room <%=id%>
    </p>

    <div id="game-board">
      <form action="/game/<%=id%>/test" method="post" id="test-form">
        <button type="submit">Test</button>
      </form>
    </div>

    <input type="hidden" name="game-socket-id" id="game-socket-id" value="<%= gameSocketId %>" />
    <input type="hidden" name="user-socket-id" id="user-socket-id" value="<%= userSocketId %>" />

    <%- include("partials/chat", { roomId: id }); %>
      <a href="/lobby">Back to Lobby</a>
  </main>

</body>

</html>