<!DOCTYPE html>
<link href="/css/lobby.css" rel="stylesheet" type="text/css">

<html>

<head>
  <title>Lobby</title>
  <script src="/scripts/chat.js" defer></script>
  <script src="/scripts/lobby.js" defer></script>
</head>

<body>
  <main>
    <%- include("partials/navbar"); %>

      <h1>Global lobby. Global chat and room creation goes here.
      </h1>
      <p>
        ID: <%= user.id %>, Email: <%= user.email %>
      </p>
      <div class="flexbox">
        <div class="column games-column">
          <h2>Available Games</h2>
          <section id="game-list">
            <ul>
              <% availableGames.forEach((game)=> { %>
                <li>
                  <a href="/game/<%= game.id %>/join">Join <%= game.id%></a>
                </li>
                <% }); %>
            </ul>
          </section>

          <template id="join-game-entry">
            <li>
              <a href=""></a>
            </li>
          </template>

          <form action="/game/create" method="get">
            <button type="submit">Create New Game</button>
          </form>
        </div>
        <div class="column">
          <%- include("partials/chat", {roomId: 0}) %>
        </div>
      </div>
  </main>

</body>

</html>